
@import url('https://fonts.googleapis.com/css?family=Khmer');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
html, body, h1 ,h2 ,h3, h4, h5, h6, p, a, button {
   font-family:  'Ubuntu', 'khmer','Kosugi Maru',sans-serif !important;
}

.api_sold_out_tag {
    background-color:#f7857c; 
    border-radius:50%; 
    color:#f2f2f2; 
    font-size: 12px; 
    font-weight:bold; 
    padding:10px; 
    padding-top:6px; 
    padding-bottom:6px;
    visibility: visible !important;
}

@media (max-width: 480px) {
.product .product-desc, .product .product-image {
    float: right !important;
    width: 100%;
    font-size:13px !important;
    padding-top:10px;
}
.product .product-desc .product-name {
    font-size:13px !important;    
}
}
@media screen and (min-width: 600px){
.product .product-desc, .product .product-image {
    font-size:15px !important;
}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sticky {
        position: relative !important;
    }
    .api_header_sticky{
        display:none;
    }
}
.api_login_facebook {
    background-color: #4c67a1;
    color: #FFF !important;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
}
.api_login_google {
    background-color: #df4c39;
    color: #FFF !important;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #FFF;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3399CC;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #323232;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
0% { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
}
100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
}

}
