.api_temp_top_header {
    background: #000;
    height: 40px;
}
.header-brand{
    margin-top: -20px;
}
.api_temp_table_v {
    background-color: #fff;
    min-height: 700px;
}
.api_header_kh {
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
    overflow: visible;
}
 .api_header_kh{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;

}

.pos-logo-sm{
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.api_temp_btn>li {
    display: inline-block;
}

.header-btn a.btn {
    position: relative;
    height: 30px;
    min-width: 40px;
    width: auto;
    background: #428BCA;
    color: #fff !important;
    text-shadow: none !important;
    padding: 5px 10px !important;
    margin: 5px 3px;
    border-radius: 0px;
    font-size: 12px;
}
.api_btn_view:hover{
    background-color: #fac863 !important;
}
.api_btn_view:focus{
    background-color: #fac863 !important;
}
.api_btn_payment:hover{
    background-color: #6fb2ec !important;
}
.api_btn_payment:focus{
    background-color: #6fb2ec !important;
}
.api_btn_table:hover{
    background-color: #a8fa83 !important;
}
.api_btn_table:focus{
    background-color: #a8fa83 !important;
}
.api_btn_dashboard:hover{
    background-color: #fc78ad !important;
}
.api_btn_dashboard:focus{
    background-color: #fc78ad !important;
}
.api_btn_logout:hover{
    background-color: #f37a7a !important;
}
.api_btn_logout:focus{
    background-color: #f37a7a !important;
}
.api_btn_view_menu:hover{
    background-color: #d3d6da !important;
}
.api_btn_view_menu:focus{
    background-color: #d3d6da;
}
body{
    background-image: url("../image/body_mg.jpg");
    background-repeat: repeat;
}
.api_temp_1 .api_temp_table_1 .api_text_center{
    height: 35px;
}
.api_row_2{
    margin-left: -90px;
}
.api_row_3{
    margin-left: -120px;
}
.api_table_1{
    width: 68%;
}
.api_table_2{
    width: 100%;
}
.api_height_v1{
    height: 50px;
}


.api_height_v2{
    height: 100px;
}

.api_temp_footer_left {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width:50%;
}
.api_temp_height{
    height: 20px;
}
.api_temp_footer_1{
        background-color: #000;
        color: #fff;
        padding-left: 15px;
        font-weight: bold;
        width: 50%;
}
.temp_icon{
    color: #fff;
    font-size: 20px;
}
.temp_title_icon{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: -15px;
}
.api_temp_footer_2{
        background-color: rgb(241, 162, 42);
        color: #fff !important;
        text-align: center;
        width: 25%;
        height: 70px;
}
.api_temp_footer_2:hover{
        background-color: rgb(236, 147, 14);
        cursor: pointer;
}
.api_temp_footer_3{
        background-color: #428BCA;
        color: #fff !important;
        text-align: center;
        width: 25%;
        height: 70px;
}
.api_temp_footer_3:hover{
        background-color: #077fe7;
}
.api_bg_ready_status.selected{
    background-color: #817e7e;
    animation: api_bg_ready_status_selected 0.5s infinite;
}
  
@keyframes api_bg_ready_status_selected {
    from {background-color: #817e7e;}
    to {background-color: #eedede;}
}
.api_bg_seated_status.selected{
    background-color: #e75153;
    animation: api_bg_seated_status_selected 0.5s infinite;
}
  
@keyframes api_bg_seated_status_selected {
    from {background-color: #e75153;}
    to {background-color: #f5aeaf;}
}
.api_bg_ordered_status.selected{
    background-color: #2580ad;
    animation: api_bg_ordered_status_selected 0.5s infinite;
}
  
@keyframes api_bg_ordered_status_selected {
    from {background-color: #2580ad;}
    to {background-color: #93c4dd;}
}
.api_bg_served_status.selected{
    background-color: #188b14;
    animation: api_bg_served_status_selected 0.5s infinite;
}
  
@keyframes api_bg_served_status_selected {
    from {background-color: #188b14;}
    to {background-color: #99df97;}
}
.api_bg_bill_printed_status.selected{
    background-color: #9624d3;
    animation: api_bg_bill_printed_status_selected 0.5s infinite;
}
  
@keyframes api_bg_bill_printed_status_selected {
    from {background-color: #9624d3;}
    to {background-color: #d3a8eb;}
}
.api_bg_to_clean_status.selected{
    background-color: #98b314;
    animation: api_bg_to_clean_status_selected 0.5s infinite;
}
  
@keyframes api_bg_to_clean_status_selected {
    from {background-color: #98b314;}
    to {background-color: #dee7ad;}
}
.api_bg_reserved_status.selected{
    background-color: #d85e21;
    animation: api_bg_reserved_status_selected 0.5s infinite;
}
  
@keyframes api_bg_reserved_status_selected {
    from {background-color: #d85e21;}
    to {background-color: #e7b59c;}
}
.api_btn_menu{
    display: none;
}
.api_page_restaurant .api_temp_wrapper_menu {
    min-height: calc(100vh - 110px);
    max-height: calc(100vh - 110px);
    background-color: #fff;    
    overflow-y: scroll;
}

.api_page_restaurant .api_temp_2 {
    float: left;
}
.api_page_restaurant .api_bg_ready_status{
    background-color: #bfbfbf;
}
.api_page_restaurant .api_bg_ready_status:hover{
    background-color: #e0d9d9;
    cursor: pointer;

}
.api_page_restaurant .api_bg_seated_status{
    background-color: #f76e70;
}
.api_page_restaurant .api_bg_seated_status:hover{
    background-color: #fa9fa0;
    cursor: pointer;
}
.api_page_restaurant .api_bg_ordered_status{
    background-color: #45a2d1;
}
.api_page_restaurant .api_bg_ordered_status:hover{
    background-color: #a5dbf7;
    cursor: pointer;
}
.api_page_restaurant .api_bg_served_status{
    background-color: #4ab347;
}
.api_page_restaurant .api_bg_served_status:hover{
    background-color: #9df09b;
    cursor: pointer;
}
.api_page_restaurant .api_bg_bill_printed_status{
    background-color: #b36bdb;
}
.api_page_restaurant .api_bg_bill_printed_status:hover{
    background-color: #e3bcf8;
    cursor: pointer;
}
.api_page_restaurant .api_bg_to_clean_status{
    background-color: #daf451;
}
.api_page_restaurant .api_bg_to_clean_status:hover{
    background-color: #e9f7a5;
    cursor: pointer;
}
.api_page_restaurant .api_bg_reserved_status{
    background-color: #ffa477;
}
.api_page_restaurant .api_bg_reserved_status:hover{
    background-color: #f8c1a6;
    cursor: pointer;
}
.api_page_restaurant .api_temp_status {
    background: rgb(248, 209, 209);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    margin-top: 40px;
}
.api_page_restaurant .api_temp_status .api_temp_border_1{
    border: 1px solid #ccc;
    background-color: #bfbfbf;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_2{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_3{
    border: 1px solid #ccc;
    background-color: #f76e70;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_4{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_5{
    border: 1px solid #ccc;
    background-color: #45a2d1;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_6{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_7{
    border: 1px solid #ccc;
    background-color: #4ab347;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_8{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_9{
    border: 1px solid #ccc;
    background-color: #b36bdb;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_10{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_11{
    border: 1px solid #ccc;
    background-color: #ffa477;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_12{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status .api_temp_border_13{
    border: 1px solid #ccc;
    background-color: #daf451;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_temp_status .api_temp_border_14{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_1  .api_temp_table_1 {
    height: 70px;
    width: 70px;
    text-align: center;
    margin-top: 10px;
}
.api_page_restaurant .api_temp_table_1 .api_title{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.api_page_restaurant .api_status{
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: capitalize;
    color: #000;
}
.api_page_restaurant .api_temp_1{
    display: inline-bglock;
}
.api_page_restaurant .api_temp_table_pc{
    width: 600px; 
    padding-top: 5px;
}
.api_page_restaurant .api_temp_status_1{
    display: none;
}
.api_page_restaurant .api_temp_status{
    display: block;
}
.api_page_restaurant .api_temp_wrapper_payment{
    background-color: rgb(234, 235, 230);
    min-height: calc(100vh - 110px);
}
.api_page_restaurant .api_temp_arrow{
    float: left;
    padding: 5px;
    cursor: pointer;
    color: #000;
}
.api_page_restaurant .api_large{
    font-size: 26px;
    font-weight: bold;
    height: 50px;
}

.api_temp_wrapper_payment .api_temp_cashier {
    text-align: left;
}
.api_temp_wrapper_payment .api_temp_padding_top_bottom{
    padding-top: 4px;
    padding-bottom: 4px;
}
.well-sm{
    padding: 0px;
}
.api_temp_wrapper_payment .api_temp_padding{
    padding: 10px;
}
.api_temp_wrapper_payment .api_temp_height_v2{
    background: white; height: 122px;
}
.api_temp_wrapper_payment .form-control {
    border: 1px solid #ccc;
}

.api_temp_wrapper_payment .api_temp_input{
    float: left;
}
.api_temp_wrapper_payment .api_temp_input_1{
    float: left;
}
.api_temp_wrapper_payment .font16{
    width: 93%;
    font-size: 16px;
}
.api_temp_wrapper_payment .table-bordered {
    border: 0px solid #ddd;
    border-radius: 0px;
}
.api_temp_wrapper_payment .api_temp_height{
    height: 40px;
}
.api_temp_submit{
    position: absolute;
    width: 50%;
    padding:10px;
    background-color: #fff;
}  
.api_temp_btn{
    height: 50px; 
    font-size: 20px; 
    font-weight: bold;
}  
.form-group {
    margin-bottom: 0px;
}     
legend.scheduler-border {
    font-size: 1.1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    color: #428BCA;
    padding: 5px 15px;
    border: 1px solid #428BCA!important;
    margin: 0;
}   
.row{
    margin-left: 0px;
    margin-right: 0px;
}  
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 0px;
}
fieldset.scheduler-border {
    margin: 0 0 0.0em 0 !important; 
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #FFF;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3399CC;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #323232;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
0% { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
}
100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
}

}

