@media screen and (min-width: 768px) and (max-width:1023px) {
.api_page_restaurant .api_temp_menu {
    min-height: calc(100vh - 112px);
    background-color: #fff;
}
.api_page_restaurant .api_teapi_temp_footer_total {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100%;    
}
.api_page_restaurant .api_btn_menu{
    display: block;
}
.api_page_restaurant .api_btn_table{
    display: block;
}
.api_page_restaurant .api_height_v2{
    height: 20px;
}
.api_page_restaurant .api_row_3{
    margin-right: 150px;
}
.api_page_restaurant .api_temp_table_pc {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
}
.api_page_restaurant .api_temp_1 .api_temp_table_1 {
    height: 70px;
    width: 65px;
    text-align: center;
    margin-top: 10px;
    margin-left: 3px;
}
.api_page_restaurant .api_table_1 {
    width: 30%;
    margin-left: -10px;
}
.api_page_restaurant .api_table_2 {
    width: 55%;
    right: 0px;
    position: absolute;
    margin-right: 6px;
    bottom: 0px;
    margin-right: 6px;
}
.api_page_restaurant .api_status {
    font-size: 11px;
}
.api_page_restaurant .api_btn_menu{
    display: none;
}
.api_page_restaurant .api_btn_table{
    display: none;
}
.api_page_restaurant .api_temp_status{
    display: none !important;
}
.api_page_restaurant .api_temp_status_1{
    background-color: rgb(248, 209, 209);
    display: block !important;
    bottom: 0px;
    position: absolute;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_1{
    border: 1px solid #ccc;
    background-color: #bfbfbf;
    height: 15px;
    width: 15px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_2{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_3{
    border: 1px solid #ccc;
    background-color: #f76e70;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_4{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_5{
    border: 1px solid #ccc;
    background-color: #45a2d1;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_6{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_7{
    border: 1px solid #ccc;
    background-color: #4ab347;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_8{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_9{
    border: 1px solid #ccc;
    background-color: #b36bdb;
    height: 15px;
    width: 15px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_10{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_11{
    border: 1px solid #ccc;
    background-color: #ffa477;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_12{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_13{
    border: 1px solid #ccc;
    background-color: #daf451;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_temp_status_1 .api_temp_border_14{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status{
    display: none !important;
}
.api_temp_footer_2:hover{
    background-color: rgb(236, 147, 14);
    cursor: pointer;
}
.api_temp_footer_3:hover{
    background-color: #077fe7;
}
.temp_height_mobile{
    height: 70px;
    padding-left: 5px;
}
.api_temp_wrapper_payment .api_temp_input_1 {
    margin-left: 0px;
}
.api_temp_wrapper_payment .font16 {
    width: 85%;
    font-size: 16px;
}

.api_temp_wrapper_payment .api_temp_padding_top_bottom {
    padding-top: 0px;
    padding-bottom: 0px;
}
.api_text{
    padding-top: 10px;
}
}
