@media only screen and (max-width: 320px) {
.api_page_restaurant .api_temp_1 .api_temp_table_1 {
    height: 40px;
    width: 40px;
}
.api_height_20{
    height: 0px;
}
.api_page_restaurant .api_temp_table_pc {
    margin-top: 0px;
}
.api_page_restaurant .api_status {
    font-size: 6px;
} 
.api_height_v2 {
    height: 0px;
}   
.temp_height_mobile{
    height:0px;
}
.text-right{
    padding-right: 10px;
}
.api_top_table_name {
    padding-top: 7px;
    font-size: 10px;
    width: 55px;
    font-weight: bold;
}
.api_temp_register {
    padding-top: 25px;
    font-size: 9px;
}
}