@media screen and (min-width: 100px) and (max-width:767px) {

.api_temp_icon_top_menu_default{
    border-radius: 50%;
    background-image: url(../image/bg_icon_top.png);
    background-repeat: no-repeat;
    padding-top: 4px;
    text-align: center;
    color: #000;
    font-size: 15px;
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 10px;
}

.api_bg_view_all_table.selected{
    background-image: url(../image/bg_view_all_table.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-top: 4px;
    text-align: center;
    color: #000;
    font-size: 15px;
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}

.api_bg_view_payment.selected{
    background-image: url(../image/bg_view_payment.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-top: 4px;
    text-align: center;
    color: #000;
    font-size: 15px;
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 10px;
    color: #fff;
}

.api_bg_view_detail.selected{
    background-image: url(../image/bg_view_detail.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-top: 4px;
    text-align: center;
    color: #000;
    font-size: 15px;
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 10px;
    color: #fff;

}
.api_bg_view_list_table.selected{
    background-color: #b2b8bd;
    background-image: url(../image/bg_view_list_table.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-top: 4px;
    text-align: center;
    color: #000;
    font-size: 15px;
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 10px;
    color: #fff;
}

.api_page_restaurant .api_temp_menu {
    min-height: calc(100vh - 170px);
    background-color: #fff;
}
.temp_height_mobile{
    height:0px;
}
.api_header_kh{
    background-image: url('../image/image_header.png');
    background-repeat: no-repeat;
    min-height: 100px;
    margin-top: 0px;
}
.fa.pull-right {
    margin-left: 2em;
}
.fa{
    margin-top: -3px;
}
.api_temp_footer_left {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width:100%;
}
.api_temp_footer_right {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width:100%;
}
.padding05 {
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
}

.padding06{
    font-size: 10px;;
    font-weight: bold;
    margin-top: 5px;
}
.padding07{
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
}
.api_temp_body{
    margin: 0px;
    padding: 0px;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.api_all_table {
    width: 100%;
    display: inline-block;
    padding-top: 15px;
}
.api_temp_table_v_1 .api_temp_status{
    display: none;
}
.api_temp_table_v_1 .api_temp_table_1 {
    height: 60px;
    width: 60px;
    text-align: center;
    margin-top: 10px;
}
.api_status {
    font-size: 10px;
    font-weight: bold;
    padding-right: 6px;
    padding-left: 6px;
    text-transform: capitalize;
    margin-top: -2px;
    line-height: 1em;
}
.api_height_v2{
    height: 20px;
}
.api_row_2{
    margin-right: 30px;
}
.api_row_3{
    margin-right: 50px;
}
.api_temp_status_1{
    display: block;
}
.api_height_v1{
    height: 50px;
}
.api_temp_status_1{
    line-height: 50px;
}
.api_temp_status_1 .api_temp_border_1{
    border: 1px solid #ccc;
    background-color: #bfbfbf;
    height: 15px;
    width: 15px;
}
.api_temp_status_1 .api_temp_border_2{
    font-weight: bold;
    padding-left: 5px;
    font-size: 13px;
}
.api_temp_status_1 .api_temp_border_3{
    border: 1px solid #ccc;
    background-color: #f76e70;
    height: 15px;
    width: 15px;
}
.api_temp_status_1 .api_temp_border_4{
    font-weight: bold;
    padding-left: 5px;
    font-size: 13px;
}
.api_temp_status_1 .api_temp_border_5{
    border: 1px solid #ccc;
    background-color: #45a2d1;
    height: 15px;
    width: 15px;;
}
.api_temp_status_1 .api_temp_border_6{
    font-weight: bold;
    padding-left: 5px;
    font-size: 13px;
}
.api_temp_status_1 .api_temp_border_7{
    border: 1px solid #ccc;
    background-color: #4ab347;
    height: 15px;
    width: 15px;
}
.api_temp_status_1 .api_temp_border_8{
    font-weight: bold;
    padding-left: 5px;
    font-size: 13px;
}
.api_temp_status_1 .api_temp_border_9{
    border: 1px solid #ccc;
    background-color: #b36bdb;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}
.api_temp_status_1 .api_temp_border_10{
    font-weight: bold;
    padding-left: 5px;
    font-size: 13px;
}
.api_temp_status_1 .api_temp_border_11{
    border: 1px solid #ccc;
    background-color: #ffa477;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}
.api_temp_status_1 .api_temp_border_12{
    font-weight: bold;
    padding-left: 5px;
    font-size: 13px;
}
.api_temp_status_1 .api_temp_border_13{
    border: 1px solid #ccc;
    background-color: #daf451;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}
.api_temp_status_1 .api_temp_border_14{
    font-weight: bold;
    padding-left: 5px;
    font-size: 13px;
}
.api_ready{
    font-weight: bold;
    float: left;
    font-size: 13px;
    margin-top: -10px;
}
.api_seated{
    padding-left: 5px;
    font-weight: bold;
    float: left;
    font-size: 13px;
    margin-top: -10px;
}
.api_ordered{
    padding-left: 5px;
    font-weight: bold;
    float: left;
    font-size: 13px;
    margin-top: -10px;
}
.api_served{
    padding-left: 5px;
    font-weight: bold;
    float: left;
    font-size: 13px;
    margin-top: -10px;
}
.api_bill{
    padding-left: 5px;
    margin-top: -30px;
    font-weight: bold;
    float: left;
    font-size: 13px;
    margin-left: -15px;
}
.api_to_clean{
    padding-left: 5px;
    margin-top: -30px;
    font-weight: bold;
    float: left;
    font-size: 13px;
}
.api_reserved {
    padding-left: 5px;
    margin-top: -30px;
    font-weight: bold;
    float: left;
    font-size: 13px;
}
.temp_icon{
    color: #fff !important;
}
.temp_title_icon{
    color: #fff !important;
    margin-top: -18px;
}
.api_temp_height{
    height: 18px;
}
.api_temp_table_v{
    display: none;
}
.api_temp_table_pc{
    margin-top: 20px;
}
.api_status_2{
    margin-top: -15px;
}
.api_temp_table_v_1 {
    margin: 0 auto;
    padding: 0px;
    min-height: 610px;
}
.api_page_restaurant .api_temp_status_1 {
    display: block !important;
    background-color: rgb(248, 209, 209);
    bottom: 0px;
    position: absolute;
    padding-bottom: 60px;
}
.api_page_restaurant .api_temp_status{
    display: none !important;
}
.api_page_restaurant .api_temp_table_pc {
    width: 100%;
    padding-top: 5px;
}
.api_page_restaurant .api_status {
    font-size: 8px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    margin-top: -15px;
    padding-left: 0px;
    padding-right: 0px;
} 
.api_page_restaurant .api_temp_table_1 .api_title {
    font-size: 10px;
    font-weight: bold;
    color: #000;
    margin-top: -10px;
}
.api_page_restaurant .api_temp_1 .api_temp_table_1 {
    height: 40px;
    width: 40px;
}
.api_table_2 {
    right: 0px;
    bottom: 0px;
    width: 45%;
    float: right;
    margin-top: -50px;
}
.api_table_1 {
    width: 30%;
    margin-left: 15px;
}
.text-right{
    padding-right: 0px;
}
.api_temp_footer_total_mobile{
    bottom: 0px;
    position: fixed;
    width: 100% !important;
}
.api_page_restaurant .api_temp_wrapper_mobile{
    min-height: calc(100vh - 200px);
}
.api_temp_menu_mobile{
    min-height: calc(100vh - 170px);
    background-color: #fff;
}
.temp_height_mobile{
    height: 70px; 
    padding-left: 15px;
}
.api_temp_wrapper_payment .font16 {
    width: 98%;
    margin-left: 5px;
    font-size: 16px;  
}
.api_temp_wrapper_payment .api_temp_input_1 {
    margin-left: 0px;
}
.api_temp_submit {
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.api_temp_wrapper_payment .api_temp_cashier {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.api_temp_wrapper_payment .api_temp_padding_top_bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}
.well-sm {
    padding: 0px;
} 
.api_page_restaurant .api_temp_arrow{
    float: left;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
} 
.api_temp_lable{
    padding-left: 5px;
}  
.api_page_restaurant .api_large {
    font-size: 20px;       
    padding-top: 5px;
    text-align: center;
}
.api_temp_wrapper_payment .api_temp_cashier {
    text-align: left;
    padding-left: 0px; 
    padding-right: 0px;
}
.api_temp_footer_v2{
    padding: 12px;
    background-color: #fff;
}
.api_heigh_both{
    height: 13px;
}
.api_temp_wrapper_payment .api_temp_group {
    margin-top: 0px;
}
.api_temp_wrapper_payment .api_temp_cashier {
    padding: 0px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 0px;
}
fieldset.scheduler-border {
    margin: 0 0 0.0em 0 !important; 
}
.api_temp_wrapper_payment .api_temp_height_v2{
    height: auto;
}
.api_temp_btn{
    height: 40px;
}
.api_component_cart_express .api_temp_btn_qty {
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: #fff;
    border-radius:10px;
    padding:5px;
    padding-top:0px;
    padding-bottom:0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:70px;
    height:25px;
    text-align:center;
}
.api_top_table_name{
    background-image: url(../image/bg_icon_top.png);
    padding-top: 4px;
    text-align: center;
    color: #000;
    font-size: 15px;
    float: right;
    width: 100px;
    height: 27px;
    margin-left: 10px;
}
.api_temp_text_menu{
    display: none;
}

}
