@media screen and (min-width: 1024px) and (max-width:1024px) {
.hidden-xs, .hidden-sm, .hidden-md, .hidden-lg {
    display: block !important;
}

.api_page_restaurant .api_temp_status_1 {
    display: block;
    background-color: rgb(248, 209, 209);
    bottom: 0px;
    position: absolute
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_1{
    border: 1px solid #ccc;
    background-color: #bfbfbf;
    height: 15px;
    width: 15px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_2{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_3{
    border: 1px solid #ccc;
    background-color: #f76e70;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_4{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_5{
    border: 1px solid #ccc;
    background-color: #45a2d1;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_6{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_7{
    border: 1px solid #ccc;
    background-color: #4ab347;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_8{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_9{
    border: 1px solid #ccc;
    background-color: #b36bdb;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_10{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_11{
    border: 1px solid #ccc;
    background-color: #ffa477;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_12{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status_1 .api_temp_border_13{
    border: 1px solid #ccc;
    background-color: #daf451;
    height: 15px;
    width: 15px;
}
.api_temp_status_1 .api_temp_border_14{
    font-weight: bold;
    padding-left: 5px;
}
.api_page_restaurant .api_temp_status{
    display: none !important;
}
.api_temp_footer_2:hover{
    background-color: rgb(236, 147, 14);
    cursor: pointer;
}
.api_temp_footer_3:hover{
    background-color: #077fe7;
}
.api_page_restaurant .api_table_1 {
    margin-left: 20px;
}
.api_page_restaurant .api_temp_wrapper_payment {
    background-color: rgb(234, 235, 230);
    min-height: calc(100vh - 110px);
}
.api_page_restaurant .api_temp_table_pc {
    width: 512px !important;
}
.api_row_2 {
    margin-left: -30px;
}
.temp_height_mobile{
    height: 70px;
    padding-left: 5px;
}
.api_temp_wrapper_payment .api_temp_height {
    height: 40px;
    width: 100%;
}
.api_temp_wrapper_payment .api_temp_input_1 {
    margin-left: 0px;
}
.api_temp_wrapper_payment .font16 {
    width: 90%;
    font-size: 16px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.api_temp_wrapper_payment .api_temp_cashier {
    margin-left: -15px;
}
}