@media screen and (min-width: 768px) and (max-width:1023px) {
    #pos #leftdiv {
        width: 100%;
        max-width: 100%;
    }
    body{
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .header-nav {
        min-width: 0px;  
        position: initial; 
    }
    .container {
        width: 100% !important;
    }
    #pos #cp #cpinner {
        min-width: 100%;
        max-width: 65%;
        float: right;
        margin-left: 2%;
        padding: 10px 10px 5px 10px;
        background: #F5f5F5;
    }
    
}