@media screen and (min-width: 100px) and (max-width:767px) {
    .select2-container .select2-choice > .select2-chosen {
        margin-right: 26px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        /* float: none; */
        width: 260px;
    }
    .api_temp_cashier {
        margin-left: -21px;
    }
    .ui-keyboard div {
        font-size: 0.63em;
        width: 373px;
    }
    
    .modal-footer{
        width: 349px !important;
    }
    .api_border_mobile td{
        height: 25px;
    }
    .modal-content, .popover, .tooltip-inner {
        border-radius: 0;
        width: 350px !important;
    }
    /* .sortable_mobile_even tr {background-color: #f9f9f9 !important;}
    .sortable_mobile_odd tr {background-color: #F3F3F3!important} */
    /* .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
        border-color: #AFD9EE;
    } */
    
    /* .table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
        background-color: #f9f9f9 !important;
    }
    .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #F3F3F3 !important;
    } */
    
    #pos{
        width: 100% !important;
    }
    #left-top{
        width: 365px;
    }
    #pos #leftdiv {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        padding-right: 5px;
    }
    #pos #product-list { 
        border-bottom: 1px solid #DDD;
        position: inherit !important;
        width: 100% !important;
        min-width: 100% !important;
        /* max-width: 100% !important; */
        background-color: #f5f5f5;
    }
    #print{
        width: 100% !important;
    }
    #product-list {
        
    }
    .api_temp_modal{
        width: 100% !important;
        float: left;
    }
    #payments .api_temp_modal{
        width: 318px !important;
    }
    .api_select_v2{
        width: 316px !important;
    }
    .font16{
        width: 100% !important;
    }
    #pos #cp #cpinner {
        display: none;
    }
    #content {
        background: none;
        margin-left: 0;
        padding-top: 15px;
    }
    .modal-header {
        min-height: 16.43px;
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        /* -webkit-box-shadow: inset 0 0 1px #22649d; */
        background-color: #22649d;
        width: 100%;
    } 
    .container {
        width: 100% !important;
    }
    .header-nav {
        min-width: 0px;
    }
    #wrapper{
        width: 100% !important;
    }
    body{
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .navbar-brand{
        text-align: left;
    }
    .pos .api_temp_title {
        line-height: 1.2em;
        height: 2.4em;
        overflow: hidden;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: bold;
    }
    .api_border_mobile td, .api_border_mobile {
        border: 0px !important;
    }
    #open-subcategory{
        display: none;
    }
    #open-category{
        display: none;
    }
    .tooltip-inner{
        display: none;
    } 
    .tooltip-arrow{
        display: none;
    }
    .form-control.input-sm {
        float: right;
        width: 70px;
    }
}
@media screen and (min-width: 414px) and (max-width: 736px){
    .modal-footer {
        width: 389px !important;
    }
    #pos #product-list {
        width: 100% !important;
    }
    .navbar {
        width: 100% !important;
    }
    #left-top {
        width: 100%;
    }
    #print {
        width: 100%;
    }
    #payments {
        width: 100%;
    }
    .api_select_v2 {
        width: 356px !important;
    }
    .font16 {
        width: 100%;
    }
    #payments .api_temp_modal {
        width: 356px !important;
    }
    .modal-content, .popover, .tooltip-inner {
        border-radius: 0;
        width: 390px !important;
    }
    .ui-keyboard div {
        font-size: 0.63em;
        width: 400px;
    }
}
@media only screen and (max-width: 320px) {

    body{
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    
    a.navbar-brand {
        text-align: left;
    }
   
    /* .select2-container .select2-choice {
        width: 245px;
    } */
    .input-group-addon, .input-group-btn {

        white-space: nowrap;
        vertical-align: middle;
    }
    #left-top {
        width: 311px;
    }
    #payments .api_temp_modal {
        width: 270px !important;
    }
    .api_select_v2 {
        width: 270px !important;
    }
    .modal-footer {
        width: 300px !important;
    }
    .ui-keyboard div {
        font-size: 0.50em;
        width: 310px;
    }
    .modal-content, .popover, .tooltip-inner {
        border-radius: 0;
        width: 300px !important;
    }
    .select2-container .select2-choice > .select2-chosen {
        margin-right: 26px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        /* float: none; */
        width: 204px;
    }
}
