@media screen and (min-width: 100px) and (max-width:767px) {
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 0px;
        padding-left: 0px;
    }    
    .api_temp_header{
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    .api_header_kh .header-brand {
        background-image: url('../image/image_header.png');
        background-repeat: no-repeat;
        min-height: 100px;
        margin-top: 0px;
        padding-top: 38px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .fa.pull-right {
        margin-left: 2em;
    }
    .api_table{
        margin-left: 2em; 
    }
    .fa{
        margin-top: -3px;
    }
    .fa-arrow-left{
        border-radius: 50%;
        opacity: 0.8;
        background-color: #fff;
        height: 35px;
        min-width: 35px;
        padding-top: 8px;
        text-align: center;
        color: #000;
        font-size: 20px;
    }
    .fa-search{
        border-radius: 50%;
        opacity: 0.8;
        background-color: #fff;
        height: 35px;
        min-width: 35px;
        padding-top: 8px;
        text-align: center;
        color: #000;
        font-size: 20px;
        margin-left: -6em;
    }
    .fa-sign-out {
        margin-left: 5px;
        border-radius: 50%;
        opacity: 0.8;
        background-color: #fff;
        height: 35px;
        min-width: 35px;
        padding-top: 8px;
        text-align: center;
        color: #000;
        font-size: 20px;
    }
    .fa-table {
        margin-left: 5px;
        border-radius: 50%;
        opacity: 0.8;
        background-color: #fff;
        height: 35px;
        min-width: 35px;
        padding-top: 8px;
        text-align: center;
        color: #000;
        font-size: 20px;
        margin-left: 12em;
        
    }
    .api_temp_footer_1{
        background-color: #000;
        color: #fff;
        height: 80px;
        padding-left: 15px;
        font-weight: bold;
        width: 50%;
    }
    .api_temp_footer_2{
        background-color: rgb(241, 162, 42);
        color: #fff;
        height: 50px;
        text-align: center;
        font-size: 20px;
    }
    .api_temp_footer_3{
        background-color: #428BCA;
        color: #fff;
        height: 50px;
        text-align: center;
        font-size: 20px;
    }
    .api_temp_footer_4{
        background-color: rgb(248, 20, 20);
        color: #fff;
        height: 50px;
        text-align: center;
        font-size: 20px;
    }
    .api_temp_footer_5{
        background-color: rgb(9, 129, 9);
        color: #fff;
        height: 50px;
        text-align: center;
        font-size: 20px;
    }
    .padding05 {
        padding-left: 0px;
        font-size: 12px;
        float: right;
        padding-right: 10px;

    }
    .api_temp_body{
        margin: 0px;
        padding: 0px;
        min-height: 1500px;
    }
    footer{
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}
