@media screen and (min-width: 1024px) and (max-width:1024px) {
    .api_temp_table_v_1{
        margin: 0 auto;
        padding: 0px;
        background-image: url("../image/body_mg.jpg");
        background-repeat: repeat;
        min-height: 1500px;
    }
    .api_all_table {
        width: 100%;
    }
    .api_row_2{
        margin-left: 0px;
    }
    .api_row_3{
        margin-left: 0px;
    }
    
}