.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    background: #000;
    height: 40px;
}

.api_header_kh {
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
    overflow: visible;
}
 .api_header_kh .header-brand {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    margin-top: -10px;

}

.pos-logo-sm{
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.api_temp_btn>li {
    display: inline-block;
}

.header-btn a.btn {
    position: relative;
    height: 30px;
    min-width: 40px;
    width: auto;
    background: #428BCA;
    color: #fff !important;
    text-shadow: none !important;
    padding: 5px 10px !important;
    margin: 5px 3px;
    border-radius: 0px;
    font-size: 12px;
}
.api_temp_table_v_1 .api_temp_status{
    height: 170px;
    width: 130px;
    background: rgb(248, 209, 209);
    position: absolute;
    top: 0px;
    right: 0px;
}
.api_temp_status .api_temp_border_1{
    border: 1px solid #bfbfbf;
    background-color: #bfbfbf;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
.api_temp_status .api_temp_border_2{
    margin-top: 15px;
    margin-right: 20px;
    font-weight: bold;
}
.api_temp_status .api_temp_border_3{
    border: 1px solid #f76e70;
    background-color: #f76e70;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.api_temp_status .api_temp_border_4{
    margin-right: 15px;
    font-weight: bold;
}
.api_temp_status .api_temp_border_5{
    border: 1px solid #45a2d1;
    background-color: #45a2d1;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.api_temp_status .api_temp_border_6{
    margin-right: 8px;
    font-weight: bold;
}
.api_temp_status .api_temp_border_7{
    border: 1px solid #4ab347;
    background-color: #4ab347;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.api_temp_status .api_temp_border_8{
    margin-right: 15px;
    font-weight: bold;
}
.api_temp_status .api_temp_border_9{
    border: 1px solid #b36bdb;
    background-color: #b36bdb;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.api_temp_status .api_temp_border_10{
    margin-right: -15px;
    font-weight: bold;
}
.api_temp_status .api_temp_border_11{
    border: 1px solid #ffa477;
    background-color: #ffa477;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.api_temp_status .api_temp_border_12{
    margin-right: 2px;
    font-weight: bold;
}
.api_temp_status .api_temp_border_13{
    border: 1px solid #daf451;
    background-color: #daf451;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.api_temp_status .api_temp_border_14{
    margin-left: 6px;
    font-weight: bold;
}
.api_temp_status .api_temp_border_16{
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}
.api_temp_table_v_1{
    margin: 0 auto;
    padding: 0px;
    background-image: url("../image/body_mg.jpg");
    background-repeat: repeat;
    min-height: 1000px;
}
.api_temp_table_v_1 .api_temp_table_1{
    height: 70px;
    width: 70px;
    text-align: center;
    margin-top: 10px;
}
.api_temp_table_1 .api_title{
    font-size: 16px;
    font-weight: bold;
}
.api_status{
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: capitalize;
}

.api_bg_ready_status{
    background-color: #bfbfbf;
}
.api_bg_ready_status:hover{
    background-color: #e0d9d9;
    cursor: pointer;

}
.api_bg_seated_status{
    background-color: #f76e70;
}
.api_bg_seated_status:hover{
    background-color: #fa9fa0;
    cursor: pointer;
}
.api_bg_ordered_status{
    background-color: #45a2d1;
}
.api_bg_ordered_status:hover{
    background-color: #a5dbf7;
    cursor: pointer;
}
.api_bg_served_status{
    background-color: #4ab347;
}
.api_bg_served_status:hover{
    background-color: #9df09b;
    cursor: pointer;
}
.api_bg_bill_printed_status{
    background-color: #b36bdb;
}
.api_bg_bill_printed_status:hover{
    background-color: #e3bcf8;
    cursor: pointer;
}
.api_bg_to_clean_status{
    background-color: #daf451;
}
.api_bg_to_clean_status:hover{
    background-color: #e9f7a5;
    cursor: pointer;
}
.api_bg_reserved_status{
    background-color: #ffa477;
}
.api_bg_reserved_status:hover{
    background-color: #f8c1a6;
    cursor: pointer;
}
.api_temp_1{
    display: inline-block;
}
.api_all_table{
    background-color: #fff;
    width: 600px; 
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;
}
.api_temp_1 .api_temp_table_1 .api_text_center{
    height: 35px;
}
.api_row_2{
    margin-left: -90px;
}
.api_row_3{
    margin-left: -120px;
}
.api_table_1{
    width: 68%;
}
.api_table_2{
    width: 100%;
}










