@media screen and (min-width: 100px) and (max-width:767px) {
.api_component_cart_express .api_temp_td_1 {
    width: 80px;
}
.api_component_cart_express .api_temp_a_2 {
    font-size: 12px;
}
.api_temp_title_category {
    font-size: 20px;
    margin-top: 15px;
}
.api_page_restaurant .api_temp_menu {
    padding-left: 0px;
}
.api_font_size{
    font-size: 16px !important;
}
/* .api_component_cart_express .api_temp_button_calculation {
    width: 30px;
    height: 30px;
} */
.api_component_cart_express .api_temp_td_2{
    line-height: 1em;
    padding-right: 0px;
}
.api_temp_hidden{
    display: none;
}
.api_margin {
    margin-top: -8px;
}
.api_temp_category{
    display: flex;
    overflow-x: scroll;
    color: #000;
   width:100%; 
}
.temp_cate{
    padding-right: 15px;
    padding-left: 15px;
}
.api_temp_category.selected{
    color: rgb(233, 23, 23);
}
.api_component_cart_express .api_temp_btn_qty_v2 {
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    width: 24px;
    height: 24px;
    text-align: center; 
    right: 0;
   
}
.api_component_cart_express .api_temp_box {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    padding-right: 0px;
}
.api_component_cart_express .api_temp_a_3{
    border-radius: 50%!important;
    border: none;
    padding-left: 1px;
}
.api_component_cart_express .api_temp_button_calculation {
    border-radius: 50%!important;
    border: none;
    background: #fff;
    width: 24px;
    height: 24px;
    padding-top: 2px;
}
.api_component_cart_express .api_temp_btn_qty {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    width: 70px;
    height: 25px;
    text-align: center;
    display: none;
}
}