
.api_component_cart_express .api_temp_box {
    padding: 20px;
    padding-left: 2px;
    background-color: #fff;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
}
.api_component_cart_express .api_temp_wrapper_1, .api_component_cart_express .api_temp_wrapper_2{
    padding-left:8px !important;
    padding-right:8px !important;
}
.api_component_cart_express .api_large {
    font-size:26px;
    font-weight: bold;
}
.api_component_cart_express .api_temp_td_1 {
    width:120px;
}
.api_component_cart_express .api_temp_td_2 {
    padding-left:15px;
    padding-right:15px;
}
.api_component_cart_express .api_temp_price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    color:#f44336
}
.api_component_cart_express .api_temp_promotion {
    margin-top:5px;
}
.api_component_cart_express .api_temp_promotion_label {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}
.api_component_cart_express .api_temp_promotion_rate_label {
    padding: 0 5px;
    background: #fff1f1;
    border-radius: 2px;
    color: #ff4747;
    font-weight: 500;
    font-size: 12px;
}

.api_component_cart_express .api_temp_button_calculation {
    border-radius: 50%!important;
    border: none;
    background: #f2f2f2;
    width: 24px;
    height: 24px;
    padding-top: 2px;
}
.api_temp_font_qty{
    font-size: 20px;
}
.api_component_cart_express .api_temp_button_calculation:hover {
    color:#f44336;
    cursor:pointer;
}

.api_component_cart_express .api_temp_button_calculation_disable {
    border-radius: 50%!important;
    border: none;
    background: #f2f2f2;
    color:#ccc;
    width: 24px;
    height: 24px;
    pointer-events: none;
    padding-top: 2px;
}

.api_component_cart_express .api_temp_a {
    padding-bottom: 5px;
    font-size: 14px;
    color: #2e9cc3;
    letter-spacing: 0;
    font-weight: 600;
    cursor: pointer;
}
.api_component_cart_express .api_temp_a_2 {
    color:#000;
    font-size: 18px;
    font-weight: bold;
}
.api_component_cart_express .api_temp_a_3 {
    color:#2e9cc3;
}
.api_component_cart_express .api_temp_total {
    border-top: 1px solid #f2f2f2;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 16px;
}

.api_component_cart_express .api_temp_title_1 {
    color: #ff7f01;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}


.api_component_cart_express .api_temp_title_2 {
    color:#2e9cc3;
    font-size: 14px;
}
.api_component_cart_express .api_temp_checkbox {
    width: 20px;
    height: 20px;
    cursor:pointer;
    margin-right:10px;
}
.api_component_cart_express .api_temp_wrapper_loader {
    position: absolute;
    top: 0;
    left: 6px;
    height: 100%;
    z-index: 10000;
    background-color: #FFF;
    width: -webkit-calc(100% - 12px);
}
.api_component_cart_express .api_temp_loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.api_component_cart_express .api_temp_loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3399CC;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.api_component_cart_express .api_temp_loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #323232;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.api_component_cart_express .api_temp_btn_delete {
    position:absolute;
    top:0px;
    right:0px;
    background-color: #fff;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:30px;
    height:30px;
    text-align:center;
}
.api_component_cart_express .api_temp_td_4 {
    width:30px;
    height:30px;    
}
.api_component_cart_express .api_temp_btn_add {
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: #fff;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:30px;
    height:30px;
    text-align:center;
}
.api_component_cart_express .api_temp_btn_qty {
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: #fff;
    border-radius:10px;
    padding:5px;
    padding-top:0px;
    padding-bottom:0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:70px;
    height:25px;
    text-align:center;
    display: none;
}
.api_component_cart_express .api_temp_btn_qty .fa-plus {
    color:#2e9cc3;
    font-weight: normal;
    font-size: 12px;
}
.api_component_cart_express .api_temp_btn_qty .fa-minus {
    color:#ff4747;
}
.api_component_cart_express .api_temp_disabled {
    pointer-events: none;
}
.api_component_cart_express .api_temp_disabled .fa-minus{
    color:#ccc;
}

.api_component_cart_express .api_temp_payment_box {
    display:inline-block;
    height:88px;
    border:1px solid #c4c4c4;
    padding-left:10px;
    padding-right:10px;
    position: relative;
    border-radius:5px;
}
.api_component_cart_express .api_temp_payment_box_selected {
    border:1px solid #f45c62;
    box-shadow: inset 0 0 0 2px #ff4747;
}
.api_component_cart_express .api_temp_payment_box:hover {
    border:1px solid #f45c62;    
    cursor:pointer;
}
.api_component_cart_express .api_temp_checked {
    color:#f45c62;
    position: absolute;
    right:-1px;
    bottom:-8px;
    z-index: 100;
    font-size:28px;
}
.api_component_cart_express .api_temp_payment_box table {
    height:88px;
}

.api_component_cart_express .form-group {
    margin-bottom: 0px;
}

.api_component_cart_express textarea {
    height:100px;
}
.api_temp_title_category {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    color: #f44336;
}
.api_temp_text_menu{
    font-size: 25px; 
    font-weight: bold; 
}
.api_temp_height{
    height: 40px;
}
.api_temp_height_v2{
    height: 40px;
    margin-top: 15px;
}
.api_temp_select_search{
    background-color: #ccd;
    height: 70px;
}
.api_font_size{
    font-size: 20px !important;
}
.api_margin{
    margin-top: -12px;
}
.api_temp_category{
    display: none;
}




