.myDiv{
  margin: auto;
  animation: mymove 0.5s infinite;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

@keyframes mymove {
  from {background-color: orange;}
  to {background-color: #ec1d23;}

}
.all_product {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 800px;
  margin: auto;
  text-align: center;

}
.product_title{
    width: 770px;
    padding: 14px;
    /* background: blue; */
    /* text-align: center; */
    margin: auto;
    margin-top: 50px;
    color: red;
    font-weight: bold;
    font-size: 24px;
    margin-left: 420px;
}
.all_product td, .all_product th {
  border: 1px solid #ddd;
  padding: 8px;
}

.all_product tr:nth-child(even){background-color: #f2f2f2;}

.all_product tr:hover {background-color: #ddd;}

.all_product th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: left; */
  background-color: #ec1d23;
  color: white;
}
.box {
    width: 194px;
    padding: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid #fff;
    background-color: #ec1d23;
    position: absolute;
    left: 828px;
    top: 286px;
    border-radius: 4px;
}

.box_1 {
    width: 100px;
    height: 39px;
    margin: 8px 0;
    position: absolute;
    left: 776px;
    top: 357px;

}
.event_btn_stop_play{
  box-sizing: border-box;
    border-radius: 4px;
    border: 4px solid #fff;
    background-color: #ec1d23;
    color: #fff;
    padding: 6px;
    width: 110px;
    cursor: pointer;
    font-weight: bold; 
    font-size: 18px;
    animation: mymove 0.5s infinite;
}
@keyframes mymove {
  from {color: #fff;}
  to {color: orange;}

}
.event_btn_stop_play_disabled{
    box-sizing: border-box;
    border-radius: 4px;
    border: 4px solid #fff;
    background-color: #f3f3f3;
    /* color: #fff; */
    padding: 6px;
    width: 110px;
    cursor: pointer;
    font-weight: bold; 
    font-size: 18px;
    opacity: 0.7;
    cursor: not-allowed;
}
.box_2 {
    width: 350px;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid #fff;
    background-color: #ec1d23;
    position: absolute;
    left: 670px;
    top: 479px;
    border-radius: 4px;
    height: 165px;
}
.style_message{
  color: #fff; font-weight: bold; font-size: 22px;
}
.style_message_1{
  color: #fff; font-weight: bold; font-size: 16px;padding-top: 40px;

}
.style_message_2{
  color: #fff; font-weight: bold; font-size: 16px !important;
}
.api_display_none{
  display: none;
}
@media screen and (min-width: 1024px) and (max-width:1366px) {
    .box {
        left: 490px;
        top: 288px;
    }
    .box_1 {
      width: 105px;
      height: 43px;
      padding: -1px;
      margin: 8px 0;
      /* border: 5px solid #fff; */
      position: absolute;
      left: 456px;
      top: 352px;
   
    }
    .box_2 {
      left: 340px;
      border: 5px solid #fff;
    }    

}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .box {
    width: 194px;
    padding: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid #fff;
    background-color: #ec1d23;
    position: absolute;
    left: 470px;
    top: 286px;
    border-radius: 4px;
}

    .box_1 {
      width: 106px;
      /* height: 43px; */
      padding: -1px;
      border: 5px solid #fff;
      left: 434px;
    }

    .box_2 {
      border: 5px solid #fff;
      left: 320px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .box {
    width: 194px;
    padding: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid #fff;
    background-color: #ec1d23;
    position: absolute;
    left: 470px;
    top: 286px;
    border-radius: 4px;
  }
}
